<%= form_for(@reporte_accidente) do |f| %>
  <% if @reporte_accidente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reporte_accidente.errors.count, "error") %> prohibited this reporte_accidente from being saved:</h2>

      <ul>
      <% @reporte_accidente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_field :texto %>
  </div>
  <div class="field">
    <%= f.label :severidad %><br />
    <%= f.text_field :severidad %>
  </div>
  <div class="field">
    <%= f.label :fechahora %><br />
    <%= f.time_select :fechahora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
